*.DS_Store
*.iml
*.zip
*.jar
.idea
.settings
.project
.classpath
.vscode
target
bin
out
build
**/node_modules/
**/build/
.gradle
.env
.gradletasknamecache
local.properties
gradle/wrapper/gradle-wrapper.jar
{token:<JWT>}
